/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .lobby-header h1 {
        font-size: 170%;
    }

    .info input {
        font-size: 75%;
        padding-right: .35rem;
        padding-left: .35rem;
    }

    .info button {
        font-size: 75%;
        padding-right: .35rem;
        padding-left: .35rem;
    }

    .info span {
        font-size: 75%;
        padding-right: .35rem;
        padding-left: .35rem;
    }

    .room-pass-code {
        margin-left: -28px;
    }

    .room-url-group {
        margin-left: -28px;
    }

    .room-start-group {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .instruction {
        font-size: 75%;
    }

    .players {
        height: 100%;
    }

    .chat {
        height: 100%;
    }

    .players-chat {
        height: calc(100vh - 69px - 40px - 100px - 52px);
    }

    .players-chat h1 {
        font-size: 100%;
    }

    .chat-main {
        height: calc(100% - 61px);
    }

    .form {
        height: 38px;
    }

    .players-list {
        font-size: 75%;
    }

    .msg {
        font-size: 75%;
    }

    .form input {
        font-size: 75%;
    }

    .form button {
        font-size: 75%;
    }

    @media (orientation: landscape) and (max-width: 768px) {
        .players-chat {
            height: calc(160vh - 67px - 40px - 168px - 52px);
        }
    }
}
