/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .lobby-header h1 {
        font-size: 260%;
    }

    .players-chat {
        height: calc(98vh - 56px - 57px - 38px - 64px);
    }

    .players-chat h1 {
        font-size: 150%;
    }

    .chat-main {
        height: calc(100% - 61px);
    }

    .form {
        height: 38px;
    }
}
