body {
    overflow: auto !important;
}

/*Small devices (landscape phones, 575px and down)*/
.lobby {
    height: 100%;
}

.lobby-header h1 {
    font-size: 170%;
    margin: 0;
    text-align: center;
}

.info input {
    font-size: 75%;
    padding-right: .35rem;
    padding-left: .35rem;
}

.info button {
    font-size: 75%;
    padding-right: .35rem;
    padding-left: .35rem;
}

.info span {
    font-size: 75%;
    padding-right: .35rem;
    padding-left: .35rem;
}

.room-code-group {
    margin-bottom: 2px;
}

.room-url-group {
    margin-top: 2px;
    margin-bottom: 2px;
}

.room-start-group {
    margin-bottom: 2px;
}

.instruction {
    font-size: 75%;
}

.players {
    height: 50%;
}

.chat {
    height: 50%;
}

.players-chat {
    height: calc(130vh - 67px - 40px - 168px - 52px);
}

.players-chat h1 {
    font-size: 100%;
}

.chat-main {
    overflow-y: auto; /* Make this div contain its floated children */
    height: calc(100% - 61px);
}

.form {
    height: 38px;
}

.players-list {
    font-size: 75%;
}

.msg {
    font-size: 75%;
}

.form input {
    font-size: 75%;
}

.form button {
    font-size: 75%;
}

@media (orientation: landscape) and (max-width: 576px) {
    .players-chat {
        height: calc(260vh - 67px - 40px - 168px - 52px);
    }
}

/***************************************/

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
ul::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
ul {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}